<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

    <% include templates/navigation.ejs %>
    <h1><%= title %></h1>
    <p><b><%= developer %></b> is a developer. You can check out his <a href="https://github.com/sammiie/">Github</a></p>

</body>
</html>
